# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

montana/quadBM/vitalRateRegressions/colonization/colonizationOutPlots.pdf

montana/quadBM/vitalRateRegressions/growth/growthOutPlots.pdf

montana/quadBM/vitalRateRegressions/survival/survivalOutPlots.pdf
