# History files
.Rhistory
.pdf
.tex

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

montana/quadBM/vitalRateRegressions/colonization/colonizationOutPlots.pdf

montana/quadBM/vitalRateRegressions/growth/growthOutPlots.pdf

montana/quadBM/vitalRateRegressions/survival/survivalOutPlots.pdf

montana/ipm/vitalRateRegs/growth/growthOutPlots.pdf

montana/ipm/vitalRateRegs/recruitment/recruitmentOutPlots.pdf

montana/quadBM/vitalRateRegressions/survivalOutPlots.pdf

montana/quadBM/vitalRateRegressions/betaLikelihood/colonization/colonizationOutPlots.pdf

montana/quadBM/vitalRateRegressions/betaLikelihood/survival/survivalOutPlots.pdf

montana/quadBM/vitalRateRegressions/betaLikelihood/growth/growthOutPlots.pdf

montana/quadBM/vitalRateRegressions/popAbundance/popGrowthOutPlots.pdf

montana/quadBM/vitalRateRegressions/truncNormModel/growthOutPlots.pdf

montana/ipm/vitalRateRegs/growth/variance_fits.pdf

montana/quadBM/vitalRateRegressions/truncNormModel/growthOutPlots_withLagPpt.pdf
